.cool{
    color:white;
    background: rgb(116, 8, 58);
    font-size: 100px;
    font-style: oblique;
}
div{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
}